.productList__header {
  min-height: 50px;
}
.productList__header,
.pagination {
  @include flexStyles(_, _, _);
}
.sortOption {
  margin-left: auto;
  & label {
    margin: 0 0.5rem 0 0;
  }
}
#sort {
  @include containerWidth(207px, 35px, 0 0.5rem);
  @include fontDecor(1rem, #828282, _);
  border: 1px solid $primaryBorderColor;
}

.pagination__item {
  width: 35px;
  height: 35px;
  background: $primaryWhite;
  display: grid;
  place-items: center;
  margin: 0 1rem 0 0;
  &:first-child {
    transform: rotate(180deg);
  }
  &:nth-of-type(3) {
    background: $primaryLinkColor;
  }
  &:last-child {
    color: $primaryBorderColor;
  }
}

@media (max-width: 600px) {
  .productList__header {
    flex-direction: column;
  }
  .pagination {
    margin-left: auto;
    margin-bottom: 1rem;
    &__item:last-child {
      margin: 0;
    }
  }
}
